# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## Add By JunGor

# Stackdump
*.stackdump

# Dependency files
*.d

# Bin files
algorithms
test_algorithms

# Tags files
tags

# YCM Config files
compile_commands.json
.ycm_extra_conf.py
.color_coded

## 我的自定义文件
play
play.c

# Cmake生成文件
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

